@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F7F3EE;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #4A3A32;
}